In [1]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import requests, json
import urllib2
import os
import pylab as P
pd.options.display.mpl_style = 'default'

dropbox=os.environ['DROPBOX_LOC']
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm, matplotlib.font_manager as fm
sns.set(style="darkgrid")
%pylab inline

C:\Users\akselo\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3066: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\akselo\Anaconda\lib\site-packages\matplotlib\__init__.py:878: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

Populating the interactive namespace from numpy and matplotlib

## Purpose: to see where firms born in the Bay Area are at age 10.

In [70]:
## read naics-3 values from file
naicsmap3 =  pd.read_csv(os.path.join(dropbox,'Documents/Data/Business/NETS/naics_3.csv'),sep='\t',
  dtype={'Naics_3': object, 'description': object}).set_index('Naics_3').description.to_dict()

In [86]:
## naics-2
naicsmap = {'21': 'Mining, Quarrying, and Oil and Gas Extraction',
 '22': 'Utilities',
 '23': 'Construction',
 '31': 'Manufacturing',
 '32': 'Manufacturing',
 '33': 'Manufacturing',
 '42': 'Wholesale Trade',
 '44': 'Retail Trade',
 '45': 'Retail Trade',
 '48': 'Transportation and Warehousing',
 '49': 'Transportation and Warehousing',
 '51': 'Information',
 '52': 'Finance and Insurance',
 '53': 'Real Estate and Rental and Leasing',
 '54': 'Professional, Scientific, and Technical Services',
 '55': 'Management of Companies and Enterprises',
 '56': 'Administrative and Support and Waste Management and Remediation Services',
 '61': 'Educational Services',
 '62': 'Health Care and Social Assistance',
 '71': 'Arts, Entertainment, and Recreation',
 '72': 'Accommodation and Food Services',
 '81': 'Other Services except Public Administration',
 '92': 'Public Administration'}

In [87]:
bayareafips_full ={'06001':'Alameda', '06013':'Contra Costa', '06041':'Marin', '06055':'Napa', '06075':'San Francisco', '06081':'San Mateo', '06085':'Santa Clara', '06097':'Sonoma', '06095':'Solano'}

In [88]:
## a dict for replacing the fips01 etc col names with a year

fipstypemap = dict([('fips{:02d}'.format(int(str(x)[2:])),np.dtype('a5')) for x in range(1990,2014)]+\
              [('naics{:02d}'.format(int(str(x)[2:])),np.dtype('a6')) for x in range(1990,2014)]+\
              [('emp{:02d}'.format(int(str(x)[2:])),np.int32) for x in range(1990,2014)])

fipsmap = dict([('fips{:02d}'.format(int(str(x)[2:])),x) for x in range(1990,2014)]+\
              [('naics{:02d}'.format(int(str(x)[2:])),x) for x in range(1990,2014)]+\
              [('emp{:02d}'.format(int(str(x)[2:])),x) for x in range(1990,2014)])
fipstypemap['dunsnumber']=str

In [89]:
## reload data? Get from CSV unless if criteria are changed
reload_data = False

In [91]:
## MARCH 4th--added the fipscounty_first where clause--to only get Bay Area born firms.
## otherwise, we choke on memory, doing the entire state of CA. This should get us from 3.7m rows to 600-700k.

engine = create_engine('postgresql://postgres:q1w2e3r4@localhost:5432/nets')
sql = """
SELECT t1.dunsnumber, fipscounty_first, firstyear,lastyear, fips90, fips91, fips92, fips93, fips94, fips95, 
fips96, fips97, fips98, fips99, fips00, fips01, fips02, fips03, fips04, fips05, fips06,
fips07, fips08, fips09, fips10, fips11, fips12, fips13,emp90, emp91, emp92, emp93, 
emp94, emp95, emp96, emp97, emp98, emp99, emp00, emp01, emp02, emp03, emp04, emp05,
emp06, emp07, emp08, emp09, emp10, emp11, emp12, emp13, naics90, naics91, naics92, 
naics93, naics94, naics95, naics96, naics97, naics98, naics99, naics00, naics01, naics02,
naics03, naics04, naics05, naics06, naics07, naics08, naics09, naics10, naics11, naics12, naics13
FROM nets2013_ca_misc t1 inner join nets2013_ca_naics t2 on t1.dunsnumber=t2.dunsnumber

-- on my windows machine, fipscounty_first is stored truncated, without leading 0
WHERE fipscounty_first in('6001','6013','6041','6055','6075','6081','6085','6095','6097')

"""

In [92]:
## this eats up 9GB or so in memory
if reload_data:
    nets = pd.read_sql(sql, engine)
    nets.to_csv(os.path.join(dropbox,'nets2013wide.csv'))
else:
    nets = pd.read_csv(os.path.join(dropbox,'nets2013wide.csv'),index_col=0,dtype=fipstypemap,na_values=[''])

nets = nets.set_index(['dunsnumber','firstyear','lastyear'])
del nets['fipscounty_first']

In [93]:
nets.sample(5)

,,,fips90,fips91,fips92,fips93,fips94,fips95,fips96,fips97,fips98,fips99,...,naics04,naics05,naics06,naics07,naics08,naics09,naics10,naics11,naics12,naics13
dunsnumber,firstyear,lastyear,,,,,,,,,,,,,,,,,,,,,
122052264,2003,2006,0,0,0,0,0,0,0,0,0,0,...,561990,561990,561990,,,,,,,
930150805,2007,2013,0,0,0,0,0,0,0,0,0,0,...,,,,,561990,561990,561990,561990,561990,541618
964224851,1993,2013,0,0,0,0,06097,06097,06097,06097,06097,06097,...,236115,236115,236115,236115,236115,236115,236115,236115,236115,236115
064766843,1989,1995,06085,06085,06085,06085,06085,06085,0,0,0,0,...,,,,,,,,,,
102936788,1989,2009,06081,06081,06081,06081,06081,06081,06081,06081,06081,06081,...,236115,236115,236115,236115,236115,236115,,,,

In [8]:
nets.shape

(1405265, 72)

In [94]:
import sys
sys.getsizeof(nets)

3118280073L

The data is in wide format, which is a bit of a pain. Hard to query, say, for the fips of 5-year survivers in bulk here, since the variable needed varies depending on the value of `firstyear`: For a firm started in 2001, for example, the 5-year location will be found in `fips06`. For a firm started in 2005, the 5-year location will be found in `fips10`.

We instead restructure the data to Hadley Wickham's *tidy data* semantics, where each row is one observation of one particular variable (with relevant indices): 

* Businesses are observed yearly (1990-2013), and each year records FIPS codes, employment, NAICS codes, etc.

In [98]:
#nets_long = nets.stack().reset_index(name='value').rename(columns={'level_3':'variable'})

In [95]:
## the stacking with all vars is too big for my current 32GB box. Try doing them separately. Here, 'fips' columns only.
## otherwise we will have 25 years' fips+25 years naics+25 years emp, so 75 records for EACH dunsnumber!! Since we have
## like 3 million records, that would have been 200+ million rows! 

## Instead, we partition this by concept--first fips, then kick off NA records since an establishment
## is likely not active for all years, reducing the frame size by a half or more.

## this mapping is for which na values to kick out
concepts = {'naics':'','emp':0,'fips':'0'}

## we loop through the concepts separately, kicking off rows without observations, for memory purposes
out = {}
for concept,naval in concepts.iteritems():
    print concept,naval
    nets_long_var = nets.filter(like=concept).stack().reset_index(name='value').rename(columns={'level_3':'variable'})
    print 'before filtering: ', nets_long_var.shape
    
    ## we only need this if/else block if read directly from postgres. 
    ##the read_csv oddly returns empty strings instead of nans.
    #if concept=='naics':
    #    nets_long_var=nets_long_var.ix[nets_long_var.value.notnull()]
    #else:
    #    nets_long_var=nets_long_var.ix[nets_long_var.value!=naval]
    nets_long_var=nets_long_var.ix[nets_long_var.value!=naval]
    
    print 'after filtering: ', nets_long_var.shape
    out[concept]=nets_long_var
    del nets_long_var
    
    ## remove 'used' cols from source frame, `nets`, wish for mem release.
    #nets = nets.drop(nets.filter(like=concept).columns,axis=1)

fips 0
before filtering:  (33726360, 5)
after filtering:  (10557830, 5)
emp 0
before filtering:  (33726360, 5)
after filtering:  (10557831, 5)
naics
before filtering:  (33726360, 5)
after filtering:  (10557861, 5)

In [12]:
del nets

In [105]:
nets_long = pd.concat(out).reset_index()
nets_long.head()

  level_0  level_1 dunsnumber  firstyear  lastyear variable value
0     emp        0  001000678       1989      2012    emp90     8
1     emp        1  001000678       1989      2012    emp91     6
2     emp        2  001000678       1989      2012    emp92     6
3     emp        3  001000678       1989      2012    emp93     6
4     emp        4  001000678       1989      2012    emp94     6

In [106]:
## extract observation year to separate variable
nets_long['variable_year']=nets_long['variable'].map(fipsmap)

## then remove year from variable name
nets_long['variable']=nets_long['variable'].str.replace('\d{2}','')
nets_long.head()

,level_0,level_1,dunsnumber,firstyear,lastyear,variable,value,variable_year
0,emp,0,001000678,1989,2012,emp,8,1990
1,emp,1,001000678,1989,2012,emp,6,1991
2,emp,2,001000678,1989,2012,emp,6,1992
3,emp,3,001000678,1989,2012,emp,6,1993
4,emp,4,001000678,1989,2012,emp,6,1994

In [107]:
## ok, we revert a little bit, moving to partial wide, with the three variables showing side by side.
## makes it easier to filter out firm by time
nets_long_obs = nets_long.set_index(['dunsnumber','firstyear','lastyear','variable','variable_year']).value.unstack('variable').reset_index()
nets_long_obs.head()

variable dunsnumber  firstyear  lastyear  variable_year emp   fips   naics
0         001000678       1989      2012           1990   8  06085  541310
1         001000678       1989      2012           1991   6  06085  541310
2         001000678       1989      2012           1992   6  06085  541310
3         001000678       1989      2012           1993   6  06085  541310
4         001000678       1989      2012           1994   6  06085  541310

In [108]:
## add a few details
nets_long_obs['age']=nets_long_obs.variable_year-nets_long_obs.firstyear
nets_long_obs['naics_2']=nets_long_obs['naics'].fillna('na').apply(lambda x: x[:2])
nets_long_obs['naics_3_desc']=nets_long_obs.naics.apply(lambda x: str(x)[:3]).map(naicsmap3)
nets_long_obs['emp']=nets_long_obs.emp.fillna(0).astype(np.int32)

nets_long_obs.head()

variable,dunsnumber,firstyear,lastyear,variable_year,emp,fips,naics,age,naics_2,naics_3_desc
0,001000678,1989,2012,1990,8,06085,541310,1,54,"Professional, Scientific, & Technical Services"
1,001000678,1989,2012,1991,6,06085,541310,2,54,"Professional, Scientific, & Technical Services"
2,001000678,1989,2012,1992,6,06085,541310,3,54,"Professional, Scientific, & Technical Services"
3,001000678,1989,2012,1993,6,06085,541310,4,54,"Professional, Scientific, & Technical Services"
4,001000678,1989,2012,1994,6,06085,541310,5,54,"Professional, Scientific, & Technical Services"

In [109]:
#nets_long_obs.to_csv('/Users/akselo/Dropbox/Data/netslong.csv')

## firm age distribution

In [110]:
## define age bin breaks, store as list of strings
brks = [0,2,5,8,10,15,20,np.inf]
labs=[]
for i in range(len(brks)-1):
    labs.append('{beg}-{end}'.format(beg=brks[i],end=brks[i+1]-1))
labs

['0-1', '2-4', '5-7', '8-9', '10-14', '15-19', '20-inf']

In [111]:
## cut the age variable
nets_long_obs['age_grp']=pd.cut(nets_long_obs['age'],bins=brks,right=False,labels=labs)
nets_long_obs['age_grp'].value_counts()#.plot(kind='barh')

2-4       3202955
5-7       1914963
10-14     1583963
0-1       1405268
15-19      957820
8-9        922910
20-inf     569954
Name: age_grp, dtype: int64

In [113]:
#nets_long_obs['age'].apply(num_mapping_dyn,breaks=[0,1,2,5,10,15,np.inf])
nets_long_obs['region']=nets_long_obs.fips.map(bayareafips_full).fillna('outside')
nets_long_obs['naics_2_desc']=nets_long_obs.naics_2.map(naicsmap)

In [124]:
## calculate n-year county distribution
use_emp=True
tenth_birthday = {}
YEARS = 5

for key, val in bayareafips_full.iteritems():
    print "Checking firms born in ",val
    
    locname = 'location_at_%s'%YEARS
    ## born in bay area, unrestricted location at age 10
    nets_long_bayarea_1=nets_long_obs.ix[(nets_long_obs.age==1) & (nets_long_obs.fips==key)]

    ## where are these guys (using their dunsnumbers) at age 10?
    nets_long_bayarea_10 = nets_long_obs.ix[(nets_long_obs.dunsnumber.isin(nets_long_bayarea_1.dunsnumber)) &
                                            (nets_long_obs.age==YEARS)]

    if use_emp:
        ## i.e. we use employment counts, not just estab counts
        nets_long_bayarea_10_summary = nets_long_bayarea_10.groupby(['fips']).emp.sum().reset_index(name='value')
    else:
        ## use estab counts
        nets_long_bayarea_10_summary = nets_long_bayarea_10.groupby(['fips']).size().reset_index(name='value')
    
    ## recode 10th birthday location
    #nets_long_bayarea_10_summary = nets_long_bayarea_10.groupby('fips').size().reset_index(name='value')
    nets_long_bayarea_10_summary['state']=nets_long_bayarea_10_summary.fips.apply(lambda x: x[:2])
    nets_long_bayarea_10_summary['bayareacounty']=nets_long_bayarea_10_summary.fips.map(bayareafips_full).fillna('outside')
    nets_long_bayarea_10_summary[locname]=np.nan
    nets_long_bayarea_10_summary.ix[nets_long_bayarea_10_summary.bayareacounty=='outside',locname]= nets_long_bayarea_10_summary.ix[nets_long_bayarea_10_summary.bayareacounty=='outside'].\
    apply(lambda x: 'outside bay area' if x.state=='06' else 'outside CA' ,axis=1)

    ## just bay area locs
    nets_long_bayarea_10_summary.ix[nets_long_bayarea_10_summary.bayareacounty.isin(bayareafips_full.values()),locname]=\
    nets_long_bayarea_10_summary.ix[nets_long_bayarea_10_summary.bayareacounty.isin(bayareafips_full.values())].\
    apply(lambda x: x.bayareacounty ,axis=1)

    nets_long_bayarea_10_summary.groupby([locname])['value'].sum().sort_values(ascending=True)#.plot(kind='barh')

    tenth_birthday[val]=nets_long_bayarea_10_summary.groupby([locname])['value'].sum().sort_values(ascending=False)/\
    nets_long_bayarea_10_summary['value'].sum()*1.

at_age_n = pd.concat(tenth_birthday).reset_index().rename(columns={'level_0':'county'})
at_age_n.sample(5)

Checking firms born in  Marin
Checking firms born in  Contra Costa
Checking firms born in  Solano
Checking firms born in  Alameda
Checking firms born in  Napa
Checking firms born in  Santa Clara
Checking firms born in  San Francisco
Checking firms born in  San Mateo
Checking firms born in  Sonoma

         county location_at_5     value
2       Alameda  Contra Costa  0.006589
85       Solano        Sonoma  0.000346
4       Alameda   Santa Clara  0.005404
40         Napa         Marin  0.000642
74  Santa Clara         Marin  0.000096

In [117]:
at_age_n.to_csv('/Users/akselo/Dropbox/Data/nets_location_at_age_{yr}.csv'.format(yr=YEARS))

In [ ]:
## same drill, with naics detail

In [ ]:
## calculate 10-year county distribution, by 2-digit naics

tenth_birthday_w_naics = {}
for key, val in bayareafips_full.iteritems():
    print "Checking firms born in ",val
    
    locname = 'location_at_%s'%YEARS
    ## born in bay area, unrestricted location at age 10
    nets_long_bayarea_1=nets_long_obs.ix[(nets_long_obs.age==1) & (nets_long_obs.fips==key)]

    ## where are these guys (using their dunsnumbers) at age 10?
    nets_long_bayarea_10 = nets_long_obs.ix[(nets_long_obs.dunsnumber.isin(nets_long_bayarea_1.dunsnumber)) &
                                            (nets_long_obs.age==YEARS)]

    if use_emp:
        ## i.e. we use employment counts, not just estab counts
        nets_long_bayarea_10_summary = nets_long_bayarea_10.groupby(['fips','naics_2']).emp.sum().reset_index(name='value')
    else:
        ## use estab counts
        nets_long_bayarea_10_summary = nets_long_bayarea_10.groupby(['fips','naics_2']).size().reset_index(name='value')
    
    ## recode 10th birthday location
    nets_long_bayarea_10_summary['state']=nets_long_bayarea_10_summary.fips.apply(lambda x: x[:2])
    nets_long_bayarea_10_summary['bayareacounty']=nets_long_bayarea_10_summary.fips.map(bayareafips_full).fillna('outside')
    nets_long_bayarea_10_summary[locname]=np.nan
    nets_long_bayarea_10_summary.ix[nets_long_bayarea_10_summary.bayareacounty=='outside',locname]= nets_long_bayarea_10_summary.ix[nets_long_bayarea_10_summary.bayareacounty=='outside'].\
    apply(lambda x: 'outside bay area' if x.state=='06' else 'outside CA' ,axis=1)

    ## just bay area locs
    nets_long_bayarea_10_summary.ix[nets_long_bayarea_10_summary.bayareacounty.isin(bayareafips_full.values()),locname]=\
    nets_long_bayarea_10_summary.ix[nets_long_bayarea_10_summary.bayareacounty.isin(bayareafips_full.values())].\
    apply(lambda x: x.bayareacounty ,axis=1)

    #nets_long_bayarea_10_summary.groupby([locname])['value'].sum().sort_values(ascending=True)#.plot(kind='barh')

    tenth_birthday_w_naics[val]=nets_long_bayarea_10_summary.groupby([locname]+['naics_2'])['value'].sum().sort_values(ascending=False)/\
    nets_long_bayarea_10_summary['value'].sum()*1.

In [128]:
pd.concat(tenth_birthday_w_naics).reset_index().rename(columns={'level_0':'county'})#.to_csv('/Users/akselo/Dropbox/Data/nets_location_naics_at_age_{yr}.csv'.format(yr=YEARS))

       county     location_at_5 naics_2     value
0     Alameda           Alameda      54  0.105221
1     Alameda           Alameda      62  0.093730
2     Alameda           Alameda      33  0.073497
3     Alameda           Alameda      44  0.070912
4     Alameda           Alameda      56  0.062109
5     Alameda           Alameda      42  0.061649
6     Alameda           Alameda      81  0.054534
7     Alameda           Alameda      72  0.053583
8     Alameda           Alameda      61  0.049382
9     Alameda           Alameda      92  0.047904
10    Alameda           Alameda      23  0.045947
11    Alameda           Alameda      52  0.043517
12    Alameda           Alameda      45  0.035383
13    Alameda           Alameda      51  0.034770
14    Alameda           Alameda      48  0.029200
15    Alameda           Alameda      32  0.028151
16    Alameda           Alameda      53  0.025879
17    Alameda           Alameda      31  0.019758
18    Alameda           Alameda      71  0.014643
19    Alameda           Alameda      49  0.012016
20    Alameda           Alameda      22  0.003378
21    Alameda           Alameda      11  0.002356
22    Alameda       Santa Clara      33  0.002124
23    Alameda  outside bay area      56  0.001331
24    Alameda      Contra Costa      54  0.001324
25    Alameda        outside CA      23  0.001311
26    Alameda        outside CA      52  0.001214
27    Alameda        outside CA      44  0.001080
28    Alameda  outside bay area      33  0.000978
29    Alameda       Santa Clara      54  0.000970
...       ...               ...     ...       ...
1657   Sonoma              Napa      23  0.000010
1658   Sonoma     San Francisco      53  0.000010
1659   Sonoma       Santa Clara      56  0.000007
1660   Sonoma           Alameda      72  0.000007
1661   Sonoma           Alameda      71  0.000007
1662   Sonoma  outside bay area      61  0.000007
1663   Sonoma      Contra Costa      53  0.000007
1664   Sonoma     San Francisco      31  0.000007
1665   Sonoma         San Mateo      44  0.000007
1666   Sonoma              Napa      42  0.000007
1667   Sonoma       Santa Clara      81  0.000007
1668   Sonoma     San Francisco      11  0.000007
1669   Sonoma              Napa      81  0.000007
1670   Sonoma            Solano      44  0.000007
1671   Sonoma            Solano      48  0.000007
1672   Sonoma              Napa      51  0.000007
1673   Sonoma            Solano      51  0.000007
1674   Sonoma       Santa Clara      52  0.000007
1675   Sonoma     San Francisco      61  0.000007
1676   Sonoma            Solano      81  0.000007
1677   Sonoma  outside bay area      55  0.000003
1678   Sonoma              Napa      33  0.000003
1679   Sonoma            Solano      32  0.000003
1680   Sonoma              Napa      52  0.000003
1681   Sonoma       Santa Clara      42  0.000003
1682   Sonoma             Marin      51  0.000003
1683   Sonoma           Alameda      45  0.000003
1684   Sonoma      Contra Costa      51  0.000003
1685   Sonoma             Marin      11  0.000003
1686   Sonoma      Contra Costa      62  0.000003

[1687 rows x 4 columns]

## How many firms survived to age n?

In [136]:
## how many estabs survived to see 5th birthday?
YEARS = 5

## we filter on variable year because we don't want to bias our survival rates due to right censoring:
## if we include firms started in 2012, say, we wouldn't observe if they survived until age 5. 
## we have a dataframe we can easily code firms by whether they turned five or not.
## we take each dunsnumber, with its naics info, and gets its max age observed.
## then we code that into a boolean if that max age is above 5.

survivers = nets_long_obs.ix[(nets_long_obs.firstyear<=2012-YEARS) & (nets_long_obs.firstyear>1994)].groupby(['dunsnumber','naics_2_desc']).age.max().apply(lambda x: x>=YEARS).reset_index()#.value_counts()
survivers.head()

  dunsnumber                                       naics_2_desc    age
0  001006282                     Transportation and Warehousing  False
1  001007777  Administrative and Support and Waste Managemen...   True
2  001007926                                        Information  False
3  001009294  Administrative and Support and Waste Managemen...   True
4  001009609                    Accommodation and Food Services  False

In [137]:
survivers=survivers.groupby(['naics_2_desc','age']).size().unstack()

In [138]:
survivers['total']=survivers.sum(axis=1)
survivers=survivers[True]/survivers['total']
survivers.sort_values(ascending=False).reset_index(name='survival')

                                         naics_2_desc  survival
0                               Public Administration  0.745667
1                                Educational Services  0.719488
2                                           Utilities  0.700855
3                   Health Care and Social Assistance  0.678222
4   Administrative and Support and Waste Managemen...  0.673147
5       Mining, Quarrying, and Oil and Gas Extraction  0.660194
6                     Accommodation and Food Services  0.651605
7                                       Manufacturing  0.639246
8    Professional, Scientific, and Technical Services  0.633375
9                  Real Estate and Rental and Leasing  0.630193
10        Other Services except Public Administration  0.620557
11                                       Construction  0.607069
12                              Finance and Insurance  0.600995
13                     Transportation and Warehousing  0.600415
14                Arts, Entertainment, and Recreation  0.573857
15                                    Wholesale Trade  0.569616
16                                        Information  0.568952
17                                       Retail Trade  0.568122
18            Management of Companies and Enterprises  0.526414